<div>Confirmation mail received!,
          
    <p>To confirm mail please click on button bellow!!!!</p>
    <a style="padding:10px;border-radius:5px;background: #F58931;color: #fff;text-decoration: none;font-size: 21px;" href="{{link}}">
Fill & sign form  </a>
    <p>Button not working? Paste the following link into your browser: {{link}}</p>
    
        <p>You’re receiving this email because have signed up. If this wasn’t you, please ignore this email.</p>
    
            <p>Thanks,</p>
                <p>  Django Appointments</p></div>