
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a></a><b>Reset Password</b></a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="text-center">Enter your Mail-Id to reset your password</p>
    
          <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 pb-5 pt-4">
              {{ form |crispy}}
                </div></div>
                <div class="text-center">
              <button class="btn btn btn-primary" type="submit">Submit</button>
                </div>
          </form>
        </div>
        <!-- /.login-card-body -->
      </div>
    <!-- /.login-box -->
    
    </div>
  {% endblock %}