{% extends "base.html"%}
{% load static %}

{% block content %}
<div class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a></a><b>Signup</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign up for Patients</p>

      <form action="" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="email" class="form-control" name="email" id="username" pattern="[^-, ]+" minlength="4"  maxlength="80" placeholder="Email" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="password" id="pass1" minlength="8" maxlength="40" placeholder="Password" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" maxlength="40" id="pass2" placeholder="Confirm Password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <input type="hidden" value="" name="link" id="link">
        <div class="message pb-2" id="message">{% if messages %}
            <ul class="list">
               {% for message in messages %}
                   <li >{{ message }}</li>
               {% endfor %}
            </ul>
            {% endif %}</div> 
          <!-- /.col -->
          <div class="col-4">
              <button type="submit" style="display:none;" id="submit">
            <button type="button" onclick="verify(); return false;" class="btn btn-primary btn-block">Submit</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.login-card-body -->
  </div>
<!-- /.login-box -->

</div>
{% endblock %}
